@media all and (max-width: 768px) {
    .link_menu {
	display: none; 
    }
}

@media all and (min-width: 1224px) {
    /* Desktop */
}
  
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* iPad Portrait */
}
  
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* iPad Landscape */
}

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    /* iPhone Portrait */
    body {
        min-width: 320px;
    }
    section > * { width: calc(100% - 40px); }
    .name_car {
        font-size: 85px;
    }
    .img_car img {
        margin-top: 60px;
    }
    .buy_section_element {
        margin-right: auto;
        margin: 0 0 32px 0;
    }
    .dots {
        margin: 32px 0 0 0;
    }

}

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    /* iPhone Landscape */
    
}